############################################################
# CUDA / C++ build artifacts ONLY (not source files)
############################################################
*.o
*.out
*.exe
*.a
*.so
*.dylib
*.dll
*.cubin
*.fatbin

build/
bin/
dist/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile

*.tex
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.out


.vscode/
.idea/
.DS_Store
Thumbs.db

*.nsys-rep
*.qdrep
logs/
outputs/
results/
